<footer class="footer1">
      <p>Questions? Call 1-866-579-7172</p>
        <div class="footer1-cols">
            <ul>
                <li><a href="/pages/faq" class="text-secondary">FAQ</a></li>
                <li><a href="#" class="text-secondary">Investor Relations</a></li>
                <li><a href="#" class="text-secondary">Ways To Watch</a></li>
                <li><a href="#" class="text-secondary">Corporate Information</a></li>
                <li><a href="#" class="text-secondary">Netflix Originals</a></li>
            </ul>
            <ul>
                <li><a href="#" class="text-secondary">Help Center</a></li>
                <li><a href="#" class="text-secondary">Jobs</a></li>
                <li><a href="#" class="text-secondary">Terms of Use</a></li>
                <li><a href="#" class="text-secondary">Contact Us</a></li>
            </ul>
            <ul>
                <li><a href="/users/sign_in" class="text-secondary">Account</a></li>
                <li><a href="#" class="text-secondary">Redeem Gift Cards</a></li>
                <li><a href="/pages/privacy" class="text-secondary">Privacy</a></li>
                <li><a href="#" class="text-secondary">Speed Test</a></li>
            </ul>
            <ul>
                <li><a href="/pages/media" class="text-secondary">Media Center</a></li>
                <li><a href="#" class="text-secondary">Buy Gift Cards</a></li>
                <li><a href="#" class="text-secondary">Cookie Preferences</a></li>
                <li><a href="#" class="text-secondary">Corporate Information</a></li>
                <li><a href="#" class="text-secondary">Legal Notices</a></li>
            </ul>

        </div>
</footer>
 <footer id="main-footer1">
    <div class="center">
                <p>Copyright &copy; 2020, edulib All Rights Reserved</p>
                <div>
            <a href="/">Home</a> | <a href="#">terms of use</a> | <a href="#">Privacy Policy</a>
                </div>
            <p>This is under the MIT license, only for learning and contribution purposes.</p>

    </div>
</footer>

