<header class="showcase5">
        <div class="showcase5-top">
            <img src="/assets/logo4.png" alt="edulib">
        <% if user_signed_in? %>
        
         <li><%= link_to "Sign out", destroy_user_session_path, class: "btn btn-info", method: :delete %></li>
            <% else %>

            <li><%= link_to "Sign in", new_user_session_path, class: "btn btn-info"%></li>
        <% end %>    
        </div>
        <div class="showcase5-content">
            <h1>Search for online courses</h1>
            <p>Watch & view download courses curriculum.</p>

            <% if user_signed_in? %>
            <a href="/programs" class="btn btn-info btn-lg">
                VIEW COURSES<i class="fas fa fa-chevron-right btn-icon"></i>
            </a>
            <% else %>
            <a href="/users/sign_up" class="btn btn-info btn-lg">
                CLICK TO SIGN UP<i class="fas fa fa-chevron-right btn-icon"></i>
            </a>
            <% end %>

        </div>

    </header>


    <section class="tabs">
        <div class="container">
            <div id="tab-1" class="tab-item tab-border">
                <i class="fas fa-download fa-3x"></i>
                <p class="hide-sm">Download Anywhere</p>
            </div>

            <div id="tab-2" class="tab-item">
                <i class="fas fa-phone fa-3x"></i>
                <p class="hide-sm"> Watch Anywhere</p>
            </div>

            <div id="tab-3" class="tab-item">
                <i class="fas fa-tags fa-3x"></i>
                <p class="hide-sm">Pick your subscription</p>
            </div>
        </div>
    </section>

   <section class="tab5-content">
        <div class="container">
            

            <!-- Tab 1 Content -->
            <div id="tab-1-content" class="tab-content-item show">
                <div class="tab-1-content-inner">
                    <div>
                        <p class="text-lg">
                            Access free study materials videos and lectures within the repository.
                            Watch from online anywhere
                        </p>

                        <a href="#" class="btn btn-info btn-lg">Free Access For 30 Days</a>
                    </div>
                    <div class="card1">
                    <img src="/img/study_images1.jpg" alt="">
                    </div>
                </div>
            </div>

            <!-- Tab 2 Content -->

            <div id="tab-2-content" class="tab-content-item">
                <div class="tab-2-content-top">
                    <p class="text-lg">
                        Watch study material and lectures anytime, anywhere - personlized for you.
                    </p>
                    <a href="#" class="btn btn-info btn-lg">Watch Free For 30 Days</a>
                </div>
                <div class="tab-2-content-bottom">
   

                </div>
            </div>

            <!-- Tab 3 Content -->
            <div id="tab-3-content" class="tab-content-item">
                <div class="text-center">
                    <p class="text-lg">
                        Choose subscription plan and watch everything on edulib
                    </p>
                    <a href="#" class="btn btn-info btn-lg">Watch Free For 30 days</a>
                </div>

                <table class="table table-borderless table-hover table-striped table-dark">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Basic</th>
                            <th>Standard</th>
                            <th>Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Monthly price after free month ends on 6/19/20</td>
                            <td>$8.99</td>
                            <td>12.99</td>
                            <td>$15.99</td>
                        </tr>
                        <tr>
                            <td>HD Available</td>
                            <td><i class="fas fa fa-times"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>Ultra HD Available</td>
                            <td><i class="fas fa fa-times"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>Screen you can watch on at any time</td>
                            <td>1</td>
                            <td>2</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Watch on your laptop, TV, phone and tablet</td>
                            <td><i class="fas fa fa-times"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>Unlimited lectures and videos</td>
                            <td><i class="fas fa fa-times"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>Cancel anytime</td>
                            <td><i class="fas fa fa-times"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>First month free</td>
                            <td><i class="fas fa fa-times"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                            <td><i class="fas fa fa-check"></i></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </section>