<div class="center">
    <h3>Search For Study Materials Online</h3>
</div>
<br>
	
	
	<div class="row"> 
		<img src="/img/course-layout.jpg" class="img-fluid" width=" 100% \9" alt="Responsive image">
	</div>

	<div class="row"> 
		<img src="/img/cubicle2.jpg" class="img-fluid" width=" 100% \9" alt="Responsive image">
	</div>
	

<br>
