/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "adminlte";
@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';



 @import "font-awesome-sprockets";
 @import "font-awesome";
 


:root {
    --primary-color: #17989D;
      --dark-color: #141414;

}

body{

   
    

  
    justify-content: center;
    align-content: center;

  
     

}

 .center {
    text-align: center;
}




/* THUMBNAILS */
/*======================================*/
.thumbnail {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 3px;

}
.thumbnail .caption {
  padding: 10px 0 5px;
  color: #7a878e;
}
.thumbnail.selected {
  box-shadow: inset 0 0 0 2px;
}




/* 11/12/2020 - added front page for login and signup as well as frontpage */
#wrapper1 {
    display: flex;
    flex-direction: row;
}

#left1 {
    flex: 1;

}



#right1 {

display: flex;
flex-direction: column;
flex: 1;
align-items: center;
justify-content: center;
height: 90vh;

}



#signin {
   padding-top: 10rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
   
}



#signin form {
    width: 80%;
    padding-bottom: 3rem;
}

#signin .logo {
    margin-bottom: 8vh;

}

#signin .logo img{
    width: 100px;

}


#signin label {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

#signin .text-input{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#signin .primary-btn{
    width: 100%;
}

#signin .secondary-btn,
.or,
.links {
    width: 60%;
}


#signin .links a {
    display: block;
    color: #17989D;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;

}

#signin .or{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

#signin .or .bar{
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}

#signin .or span{
    color: #ccc;
    padding: 0 0.8rem;
}




/* Showcase */
#showcase1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('login-bg10.jpg') no-repeat center center / cover;
    
    height: 100vh;
    text-align: center;
    border-radius: 10px;
}



#showcase1 .showcase1-text {
    font-size: 3rem;
    width: 100%;
    color: #17989D;
    margin-bottom:  1.5rem;
}


#showcase1 .secondary-btn{
    width: 60%;
    margin: auto;
}



/* Footer */
#main-footer1 {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;

}


#main-footer1 a {
    color: #17989D;
    text-decoration: underline;
}

/* Button */
.primary1-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background: #f96816;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;

}

.primary1-btn:hover{
    background-color: #ff7b39;

}



.secondary1-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #444;
    border-radius: 2px;
    font-weight: 500;
    background: none;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;

}

.secondary1-btn:hover{
    border-color: #17989D;
    color: #17989D;

}




/* Footer */
.footer1 {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}


.footer1, .footer1 a {
    color: #999;
    font-size: 0.9rem;
}

.footer1 p {
    margin: 1.5rem;

}

.footer1 .footer1-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer1 li {
    line-height: 1.9;
}



/* media query*/
@media(min-width: 1200px){
    #left1{
       flex: 6;
    }

    #right1{
        
         flex: 4;
    }

}

@media(max-width: 768px){
    body{
        overflow: auto;
    }
    
    #right1 {
         justify-content: start;
        margin-top: 4vh;
    }

    #left1 {
       
        display: none;
    }

    #signin .logo{
        margin-bottom: 2vh;
    }

    #sigin .text-input{
        margin-bottom: 0.7rem;
    }

    #main-footer1 {
        padding-top: 1rem;
    }
}




/*  This is the code for frontpage */



.showcase5 {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('../img/background5.jpg') no-repeat center center/cover;
}


.showcase5::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.6); 
    box-shadow: inset 40px 40px 250px #000000, inset -40px -40px 250px #000000;
}

.showcase5-top {
    position: relative;
    z-index: 2;
    height: 90px;
}


.showcase5-top img{
    width: 170px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.showcase5-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);

}


.showcase5-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}


.showcase5-content h1 {
	color: #fff;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}


.showcase5-content p {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;

}


/* tabs */
.tabs{
    background: white;
    padding-top: 1rem;
    border-bottom: 1px solid #444;

}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 1.0rem;
}

.tabs .container > div {
    padding: 1.5rem 0;
}


.tabs .container > div:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Hide Content Initially */
#tab-1-content,
#tab-2-content,
#tab-3-content {
    display: none;
}

.show {
display: block !important;
}

/* Tab Content*/
.tab5-content {
padding: 3rem 0;
background: #fff;
color: #999;

}

#tab-1-content .tab-1-content-inner{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 2rem; 
align-items: center;
justify-content: center;
}

#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr, 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}


.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}



.table tbody tr td:first-child {
    text-align: left;
}



/* Footer */
.footer5 {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}


.footer5, .footer5 a {
    color: #999;
    font-size: 0.9rem;
}

.footer5 p {
    margin: 1.5rem;

}

.footer5 .footer5-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer5 li {
    line-height: 1.9;
}


/* Container */
.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;    
}

/* Text Styles */
.text-xl {
   font-size: 2rem;
   margin-bottom: 1rem;
  
}

/* Text Styles */
.text-lg {
   font-size: 1.8rem;
   margin-bottom: 1rem;
  
}

.text-md {
   font-size: 1.5rem;
   margin-bottom: 1rem;
  
}
.text-center {
    text-align: center;

}


.text-dark {
color: #999;
}

/* Buttons */
.btn5 {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px;
}


.btn5:hover{
    opacity: 0.9;
}

.btn5-rounded {
    border-radius: 5px
}

.btn5-xl { 
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn5-lg { 
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn5-icon {
    margin-left: 1rem;
}


@media (max-width: 960px){
    .showcase5 {
        height: 90vh;
    }

    .hide-sm{
        display: none;
    }

    .showcase5-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase5-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase5-content p {
        font-size: 1.5rem;
    }

    .footer5 .footer5-cols {
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-xl {
        font-size: 1.5rem;
        padding: 1.4rem 2rem;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.3rem;
    }

    .text-md {
        font-size: 1rem;
    }


}


@media (max-width: 700px){
.showcase5::after{

    box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
}   



 #tab-1-content .tab-1-content-inner {
     grid-template-columns: 1fr;
     text-align: center;
 }

 #tab-2-content .tab-2-content-top {
     display: block;
     text-align: center;
 }

 #tab-2-content .tab5--content-bottom {
     grid-template-columns: 1fr;
  
 }
}




// VARIABLES
$color-header: #0d0d0d;
$color-text: #404040;

$color-btn-text: #3363ff;
$color-btn-background: #e6ecff;

$transition: .2s;

.card1 {
  &__img {
    display: block;
    width: 100%;
    height: 18rem;
    object-fit: cover;
   }
  
  &__content {
    padding: 3rem 3rem;
  }
  
  &__header {
    font-size: 3rem;
    font-weight: 500;
    color: $color-header;
    margin-bottom: 1.5rem;
  }
  
  &__text {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: 1.7;
    color: darken($color-text, 1%);
    margin-bottom: 2.5rem;
  }
  
  &__btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: $color-btn-text;
    background-color: $color-btn-background;
    border: none;
    border-radius: .4rem;
    transition: $transition;
    cursor: pointer;
    
    span {
      margin-left: 1rem;
      transition: $transition;
    }
    
    &:hover,
    &:active {
      background-color: darken( $color-btn-background, 2%);
      
        span {
        margin-left: 1.5rem;
      }
    }
  }
}

